# 应用服务 WEB 访问端口
server:
  port: 8001


spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # 开启从注册中心动态创建路由的功能，利用微服务名称进行路由
          lower-case-service-id: true # 转换微服务名称为小写
      routes:
        - id: users # 路由的 ID
          uri: lb://ms-users # 匹配后提供服务的路由地址
          predicates:
            - Path=/job/** # 断言，路径相匹配的进行路由


# 配置 Eureka Server 注册中心
eureka:
  instance:
    prefer-ip-address: true # 注册服务时使用 IP 地址而不是主机名
    instance-id: ${spring.cloud.client.ip-address}:${server.port} # 设置为 IP:端口
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka/ # 注册中心的地址